---
interface Props {
    title: string;
    description: string;
    from_date: string;
    to_date: string;
    link?: string;
    logo?: string; // Add this new prop for the logo image URL
}

const { title, description, from_date, to_date, link, logo } = Astro.props;

function calculateDateDifference(fromDate: string, toDate: string) {
    const startDate = new Date(fromDate);
    const endDate = new Date(toDate);

    let yearsDifference = endDate.getFullYear() - startDate.getFullYear();
    let monthsDifference = endDate.getMonth() - startDate.getMonth();

    // Handle "Present" case
    if (toDate === "Present") {
        const currentDate = new Date();
        yearsDifference = currentDate.getFullYear() - startDate.getFullYear();
        monthsDifference = currentDate.getMonth() - startDate.getMonth();
    } else {
        yearsDifference = endDate.getFullYear() - startDate.getFullYear();
        monthsDifference = endDate.getMonth() - startDate.getMonth();
    }

    if (monthsDifference < 0) {
        yearsDifference--;
        monthsDifference += 12;
    }

    monthsDifference += 1;

    if (monthsDifference >= 12) {
        yearsDifference++;
        monthsDifference -= 12;
    }

    let result = "";
    if (yearsDifference > 0) {
        result = `${yearsDifference} year${yearsDifference > 1 ? "s" : ""}`;
        if (monthsDifference > 0) {
            result += `, ${monthsDifference} month${monthsDifference > 1 ? "s" : ""}`;
        }
    } else {
        result = `${monthsDifference} month${monthsDifference > 1 ? "s" : ""}`;
    }

    return result;
}
---

<div class="relative flex items-start pl-16 sm:pl-20">
    <div class="flex flex-col w-full">
        <div class="flex flex-col sm:flex-row justify-between items-start mb-2">
            <div class="mb-2 sm:mb-0">
                <!-- <div
                    class="absolute w-4 h-4 bg-gray-200 rounded-full mt-1.5 -left-2 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div> -->

                <!-- Logo Image -->
                <img
                    src={logo}
                    alt={`${title} logo`}
                    class="absolute w-10 h-10 sm:w-12 sm:h-12 rounded-lg object-cover -left-6 top-0"
                />
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {title}
                </h3>
                <time
                    class="text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
                    >{from_date} to {to_date} - {
                        calculateDateDifference(from_date, to_date)
                    }</time
                >
            </div>
            {
                link && (
                    <a
                        href={link}
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                    >
                        More
                        <svg
                            class="w-3 h-3 ms-2 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9"
                            />
                        </svg>
                    </a>
                )
            }
        </div>
        <p
            class="mb-4 text-base font-normal text-pretty text-gray-900 dark:text-gray-300"
        >
            {description}
        </p>
    </div>
</div>
